/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
  background: url(/static/images/background.png) repeat;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

hr {
  border: 1px dotted #999;
}

.panel {
  background: white;
  border: 1px solid #999;
}

.panel.yellow { 
  background: #fff; 
  border: 2px solid #888;
  color: #666; 
  padding: 14px 0px;
  height: 55px;
  width: 149px;
}
.panel.yellow.no-border {
  border: 2px solid #fff;
}

.button.yellow { color: #666; background-color: #e3c78c; border: 1px solid #c18c1a; }
.button.yellow:hover, .button.success:focus { background-color: #f4bf4e; }

.optional {
  border: 2px solid #aaa !important;
}

.center {
  text-align: center;
  margin: 0px;
}

.r-border {
  border-right: 1px solid #666;
}

a.cke_button, a.cke_dialog_tab {
  height: 100% !important;
}

.light {
  color: #888;
}

.address > div {
  margin-bottom: 10px;
}

.finger:hover {
  cursor: pointer;
}
/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


